<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<Poptip th:fragment="btn-delete"
        confirm
        title="确定要删除选中的记录吗？"
        @on-ok="removeByItems(selection)"
        ok-text="确定"
        cancel-text="取消">
    <i-button>删除</i-button>
</Poptip>


<Card th:fragment="result">
    <div slot="title">查询结果</div>
    <div>
        <i-table :columns="result.columns"
                 :loading="loading"
                 :data="result.page.content"
                 @on-selection-change="onSelectionChange"
                 @on-sort-change="onSortChange"
                 stripe border ellipsis>
        </i-table>
        <div th:replace="fragments/list :: paging"></div>
    </div>
</Card>

<div style="margin: 10px;overflow: hidden" th:fragment="paging">
    <div style="float: right;">
        <Page v-show="result.page.totalElements>0"
              ref="page"
              :show-total="true"
              :show-sizer="true"
              :total="result.page.totalElements"
              :page-size="condition.params.size"
              :current="condition.params.page+1"
              @on-change="onPageChange"
              @on-page-size-change="onPageSizeChange"
        ></Page>
    </div>
</div>

</body>
</html>