<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/iview}">
<head>
    <title>资金账户</title>
</head>
<body>
<i-Content layout:fragment="content">
    <Card>
        <span slot="title">查询条件</span>
        <i-form ref="condition" :model="condition.params" :rules="condition.rules" inline>
            <Form-Item prop="name">
                <i-input type="text" v-model="condition.params.name" placeholder="账户名称">
                    <i-icon type="ios-person-outline" slot="prepend"></i-icon>
                </i-input>
            </Form-Item>
            <Form-Item prop="password">
                <i-input type="text" v-model="condition.params.password" placeholder="账户密码">
                    <i-icon type="ios-locked-outline" slot="prepend"></i-icon>
                </i-input>
            </Form-Item>
            <Form-Item>
                <i-button type="primary" @click="query(true)">查询</i-button>
                <i-button type="ghost" @click="reset">清空</i-button>
            </Form-Item>
        </i-form>
    </Card>
    <div style="margin: 8px">
        <i-button @click="toAddPage">新增</i-button>
        <div th:replace="fragments/list :: btn-delete"></div>
    </div>
    <div th:replace="fragments/list :: result"></div>
</i-Content>
</body>
<script layout:fragment="script">
    let vue = new ListVue({
        data: function () {
            return {
                result: {
                    columns: [
                        {type: 'selection', width: 60, align: 'center'},
                        {title: '名称', key: 'name', sortable: 'custom', sortType: 'asc'},
                        {title: '密码', key: 'password', sortable: 'custom'},
                        {
                            title: '操作', key: 'action', width: 150, align: 'center',
                            render: (h, params) => {
                                return h('div', [this.buildAddBtn(h, params), this.buildModifyBtn(h, params),]);
                            }
                        }
                    ]
                }
            };
        }
    });
</script>
</html>