<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">标题</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<script src="http://vuejs.org/js/vue.min.js"></script>
    <link rel="stylesheet" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script src="http://unpkg.com/iview/dist/iview.min.js"></script>-->

    <script th:src="@{/js/vue.min.js}"></script>
    <script th:src="@{/axiso/axios.min.js}"></script>
    <link th:href="@{/iview/styles/iview.css}" rel="stylesheet"/>
    <script th:src="@{/iview/iview.min.js}"></script>
    <style>
        .layout {
            border: 1px solid #d7dde4;
            background: #f5f7f9;
            position: relative;
            border-radius: 4px;
            overflow: hidden;
        }

        .layout-logo {
            width: 100px;
            height: 30px;
            background: #5b6270;
            border-radius: 3px;
            float: left;
            position: relative;
            top: 15px;
            left: 20px;
        }

        .layout-nav {
            width: 420px;
            margin: 0 auto;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class="layout" id="layout">
    <Layout>
        <!--<Header><br>Header</Header>-->
        <Layout :style="{padding: '0 50px'}">
            <Sider hide-trigger :style="{background: '#fff'}">
                <i-menu active-name="1-2" theme="light" width="auto" :open-names="['1']" th:size="${#lists.size(session.menus)}">
                    <Submenu th:each="submenu:${session.menus}" th:name="${submenu['id']}">
                        <template slot="title">
                            <Icon type="ios-analytics"></Icon>
                            <!--<span th:text="${submenu['title']}"></span>-->
                            <th:block th:text="${submenu['title']}"/>
                        </template>
                        <Menu-Item th:each="menu:${submenu['children']}" th:name="${menu['id']}">
                            <a th:text="${menu['title']}" th:href="'/'+${menu['href']}" target="_blank"></a>
                        </Menu-Item>
                    </Submenu>
                </i-menu>
            </Sider>
            <Layout :style="{padding: '0 24px 24px'}">
                <Breadcrumb :style="{margin: '24px 0'}">
                    <Breadcrumb-Item>Home</Breadcrumb-Item>
                    <Breadcrumb-Item>Components</Breadcrumb-Item>
                    <Breadcrumb-Item>Layout</Breadcrumb-Item>
                </Breadcrumb>
                <Content layout:fragment="content" :style="{padding: '24px', minHeight: '280px', background: '#fff'}">
                    <!--
                    <Card :bordered="false">
                        <div slot="title">查询条件</div>
                        <div>
                            <i-form ref="formInline" :model="formInline" :rules="ruleInline" inline>
                                <Form-Item prop="user">
                                    <i-input type="text" v-model="formInline.user" placeholder="Username">
                                        <i-icon type="ios-person-outline" slot="prepend"></i-icon>
                                    </i-input>
                                </Form-Item>
                                <Form-Item prop="password">
                                    <i-input type="password" v-model="formInline.password" placeholder="Password">
                                        <i-icon type="ios-locked-outline" slot="prepend"></i-icon>
                                    </i-input>
                                </Form-Item>
                                <Form-Item>
                                    <i-button type="primary" @click="handleSubmit('formInline')">Signin</i-button>
                                </Form-Item>
                            </i-form>
                        </div>
                    </Card>
                    <br>
                    <Card :bordered="false">
                        <div slot="title">查询结果</div>
                        <div>
                            <i-table :columns="columns1" :data="data1"></i-table>
                            <div style="margin: 10px;overflow: hidden">
                                <div style="float: right;">
                                    <Page :total="100" :current="1"></Page>
                                </div>
                            </div>
                        </div>
                    </Card>
                -->
                </Content>
            </Layout>

        </Layout>
        <!--<Footer class="layout-footer-center">2011-2016 &copy; TalkingData</Footer>-->
    </Layout>
</div>
<script layout:fragment="script"></script>
</body>
</html>